<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HeatingSystemUrl</key>
	<string>http://leszczynski.edu.pl/last.json</string>
	<key>info</key>
	<string>Main</string>
</dict>
</plist>
