<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localAddress</key>
	<string>192.168.1.3</string>
	<key>remoteAddress</key>
	<string>http://leszczynski.edu.pl</string>
	<key>info</key>
	<string>App trys to connect to server in local-home network and DDNS server (simultanously)</string>
</dict>
</plist>
